body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
}

h2 {
  text-align: center;
  margin: 1em;
}

.book {
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0.5em;
  background: #919090;
}

.author {
  margin: 0.1em;
}

.title {
  margin: 0.1em;
}

.collection {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding: 0;
  border: 3px solid black;
  background: #f1f0f0;
}

#form-element {
  padding: 1em;
}

.title-input {
  margin: 1em;
  border: 3px solid black;
  width: 200px;
}

#book-det {
  display: grid;
  grid-template-rows: 60px 60px 20px;
  justify-content: center;
}

.author-input {
  display: block;
  margin: 1em;
  width: 200px;
  border: 3px solid black;
}

.add-btn {
  margin: auto 1em;
  padding: 0.1em;
  width: 40px;
  border: 3px solid black;
}

.remove-btn {
  margin: 0 0.1em;
  padding: 0.1em;
}

.collection-section {
  margin: 0 auto;
  width: 100%;
  background: #d1d1d1;
  padding: 1em;
  /* display: none; */
}

#form-title {
  font-size: 25px;
  text-align: center;
}

#space {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
  border: 3px solid black;
  padding: 0 1rem;
  height: 10vh;
}

.nav {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  border: 3px solid black;
  padding: 0 1rem;
  height: 8vh;
  width: 100%;
  gap: 1em;
}

nav {
  width: 50%;
}

.form {
  /* display: none; */
}

#ContactPage {
/* display: none; */
}

footer {
  background: #e2e0e0;
}