body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #c2b6b6; */
;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
  padding: 0 1rem;
  height: 10vh;
  background: #fff;
}

h1 {
  font-size: 5vw;
}

nav {
  width: 50%;
}

.nav {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding: 0 .5rem;
  height: 8vh;
  width: 100%;
  gap: 1em;
}

.nav li {
  cursor: pointer;
}

.nav li:hover {
  color: blue;
}

main {
  width: 100%;
  background: #c2b6b6;
}

h2 {
  text-align: center;
  margin: 1em;
}

ul {
  list-style: none;
}

.collection-section {
  margin: 0 auto;
  width: 100%;
  min-height: 85vh;
  background: #c2b6b6;
  padding: 1em;  
}

.collection {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding: 0;
  border: 3px solid black;
  background: #f1f0f0;
}

.book {
  width: 100%;
  display: flex;
  padding: 0.5em;
  background: #a8a6a6;
}

#space {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title {
  margin: 0.1em;
}

.author {
  margin: 0.1em;
}

.remove-btn {
  margin: 0 0.1em;
  padding: 0.1em;
  border: 2px solid black;
}

.form {
  display: none;
  background: #c2b6b6;
  height: 85vh;
  margin: 0;
  padding: 1em;
}

#form-element {
margin: 0 auto;}

#book-det {
  margin:0 auto;
  width: fit-content;
}

.title-input {
  margin: 1em;
  border: 3px solid black;
  width: 30vw;
  padding: .5em;
}

.author-input {
  display: block;
  margin: 1em;
  width: 30vw;
  padding: .5em;
  border: 3px solid black;
}

.add-btn {
  margin: auto 1em;
  padding: 0.1em;
  width: 40px;
  border: 3px solid black;
}

.ContactPage {
  display: none;
  padding: 2em;
  margin: 0 auto;
  background: #c2b6b6;
  height: 85vh;
  width: 100vw;
}

.ContactPage ul li, .ContactPage p{
  font-size: 1.2em;
  line-height: 1.5em;
}

.ContactPage p {
  margin: 0 auto;
  text-align: left;
  width: fit-content;

}

.ContactPage ul {
  margin: 0 auto;
  width: fit-content;
}

footer {
  height: 5vh;
  width: 100%;
  text-align: center;
  background: #fff;
}

.displaye{
  color: blue;
  font-size: 1.2em;
  font-weight: 600;
}

.date {
  font-size: 1.1em;
  font-weight: 600;
  padding-top: .3em;
  padding-right: 3em;
  text-align: right;
}